---
layout: default
---

{% assign featured_posts = site.posts | where:'featured', true %}

<section class="posts" style="padding-top:0.5rem;padding-bottom:0.5rem;">
  <h3 style="margin-top:var(--line-height);">Featured</h3>
  <ul class="featured">
    {% for post in featured_posts %}
    <li>
      <a href="{{ site.baseurl }}{{ post.url }}">
          <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%m-%d-%Y" }}</time>
          &nbsp;{{ post.title }}
      </a>
    </li>
    {% endfor %}
  </ul>
</section>

<section class="posts">
  <h3>Archive</h3>
  <ul>
    {% for post in site.posts %}
    <li>
      <a href="{{ site.baseurl }}{{ post.url }}">
          <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%m-%d-%Y" }}</time>
          &nbsp;{{ post.title }}
      </a>
    </li>
    {% endfor %}
  </ul>
</section>
