---
layout: default
---

{% assign timeline = site.posts | sort: 'date' | reverse %}
{% assign latest_memo = timeline | find_exp:"memo", "memo.tags contains 'memo'" %}


<table class="latest-memo header">
  <tr>
    <td colspan="2" rowspan="1" class="width-auto memo-cell" onclick="window.location.href='{{ latest_memo.url }}';">
      <a class="memo-link" href="{{ latest_memo.url }}">{{ latest_memo.title }}</a>
    </td>
    <th class="memo-label width-min">Latest <a class=memo-link" href="/tag/memo/">Memos</a></th>
  </tr>
</table>

<section class="posts">
  <ul>
    {% for entry in timeline %}
      <li>
        <a href="{{ site.baseurl }}{{ entry.url }}">
          <time datetime="{{ entry.date | date_to_xmlschema }}">{{ entry.date | date: "%m-%d-%Y" }}</time>
          {% if entry.featured == true %}
            *
          {% elsif entry.tags contains 'memo' %}
            &nbsp;
          {% else %}
            &nbsp;
          {% endif %}
          {{ entry.title }}
      </a>
    </li>
    {% endfor %}
  </ul>
</section>
