---
layout: default
---

{% assign timeline = site.posts | sort: 'date' | reverse %}
{% assign latest_journal = timeline | find_exp:"journal", "journal.tags contains 'journal'" %}


<table class="latest-journal header">
  <tr>
    <td colspan="2" rowspan="1" class="width-auto journal-cell" onclick="window.location.href='{{ latest_journal.url }}';">
      <a class="journal-link" href="{{ latest_journal.url }}">{{ latest_journal.title }}</a>
    </td>
    <th class="journal-label width-min">Latest <a class=journal-link" href="/tag/journal/">Journal</a></th>
  </tr>
</table>

<section class="posts">
  <ul>
    {% for entry in timeline %}
      <li>
        <a href="{{ site.baseurl }}{{ entry.url }}">
          <time datetime="{{ entry.date | date_to_xmlschema }}">{{ entry.date | date: "%Y-%m-%d" }}</time>
          {% if entry.featured == true %}
            *
          {% else %}
            &nbsp;
          {% endif %}
          {{ entry.title }}
      </a>
    </li>
    {% endfor %}
  </ul>
</section>

{% include footer.html %}
