@font-face {
    font-family: "ia_writer_duospacebolditalic";
    src:
        url("../fonts/iawriterduospace/iawriterduospace-bolditalic-webfont.woff2") format("woff2"),
        url("../fonts/iawriterduospace/iawriterduospace-bolditalic-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "ia_writer_duospacebold";
    src:
        url("../fonts/iawriterduospace/iawriterduospace-bold-webfont.woff2") format("woff2"),
        url("../fonts/iawriterduospace/iawriterduospace-bold-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "ia_writer_duospaceRgIt";
    src:
        url("../fonts/iawriterduospace/iawriterduospace-regularitalic-webfont.woff2") format("woff2"),
        url("../fonts/iawriterduospace/iawriterduospace-regularitalic-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "ia_writer_duospaceregular";
    src:
        url("../fonts/iawriterduospace/iawriterduospace-regular-webfont.woff2") format("woff2"),
        url("../fonts/iawriterduospace/iawriterduospace-regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

:root {
    --font-family: "ia_writer_duospaceregular", "ia_writer_duospaceRgIt", "ia_writer_duospacebold",
        "ia_writer_duospacebolditalic", monospace;
}

@media screen and (max-width: 480px) {
    table:not(.header) {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
        margin: var(--line-height) 0;
        padding: var(--line-height);
        border: var(--border-thickness) solid var(--text-color);
    }
}
.text-sm {
    font-size: calc(var(--font-size) * 0.8);
}

header a {
    text-decoration: none;
}

header a.active {
    font-weight: var(--font-weight-bold);
}

.posts li {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.posts li a {
    text-decoration: none;
}

.posts li a:hover {
    text-decoration: underline;
    text-decoration-thickness: var(--border-thickness);
}

.posts li time {
    font-variant-numeric: tabular-nums;
}

img {
    display: block;
    width: initial;
    max-width: 100%;
    margin: var(--line-height) auto;
    height: auto;
}

pre {
    margin: var(--line-height) 0;
    padding: var(--line-height);
    /* border: var(--border-thickness) solid var(--text-color); */
}

code {
    font-weight: initial;
    color: #01a0e4 !important;
}

.titlebar {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
}

.titlebar h1 {
    margin-bottom: initial;
}

nav {
    margin-bottom: var(--line-height);
    text-transform: uppercase;
    text-align: left;
    font-weight: var(--font-weight-normal);
    display: flex;
    gap: var(--line-height); /* Adjust the gap between links as needed */
}

nav a {
    margin-top: var(--line-height);
}

.logo {
    line-height: var(--line-height);
    text-align: left;
}

.footnotes > ol {
    counter-reset: footnote-counter;
    list-style: none;
}

.footnotes > ol > li {
    counter-increment: footnote-counter;
    margin-bottom: var(--line-height);
}

.footnotes > ol > li::before {
    font-weight: var(--font-weight-medium);
    content: counter(footnote-counter) ". ";
    font-weight: bold;
}

.footnotes p {
    display: inline;
}

.read-more {
    margin: 0;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: var(--font-weight-bold);
}

.read-more:hover {
    text-decoration: underline;
}

.memos {
    margin: 0 auto;
}

.memos .memo {
    margin-bottom: var(--line-height);
    border: var(--border-thickness) solid var(--text-color-alt);
    padding: calc(var(--line-height) * 0.5);
}

.memos .memo:last-child {
    /* border-bottom: none; */
}

.memo {
    line-height: calc(var(--line-height) * 0.95);
    margin: 0 auto;
}

.memo h2 {
    margin: 0;
    font-size: calc(var(--font-size) * 1.15);
}

.memo-metadata,
.memo-tags {
    font-size: 0.8rem;
    color: var(--text-color-alt);
    margin: 0;
}

.memo-metadata a,
.memo-tags a {
    color: var(--text-color-alt);
}

.memo-header a {
    text-decoration: none;
}

.memo-header {
    border-bottom: var(--border-thickness) solid var(--text-color-alt);
    padding-bottom: calc(var(--line-height) * 0.5);
}

.memo-header a:hover {
    text-decoration: underline;
}

.memo img {
    max-width: calc(min(60ch, round(down, 100%, 1ch)));
}

.memo-content {
    margin: 0 var(--line-height);
}
