@font-face {
    font-family: "ia_writer_duospacebolditalic";
    src:
        url("../fonts/iawriterduospace/iawriterduospace-bolditalic-webfont.woff2") format("woff2"),
        url("../fonts/iawriterduospace/iawriterduospace-bolditalic-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "ia_writer_duospacebold";
    src:
        url("../fonts/iawriterduospace/iawriterduospace-bold-webfont.woff2") format("woff2"),
        url("../fonts/iawriterduospace/iawriterduospace-bold-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "ia_writer_duospaceRgIt";
    src:
        url("../fonts/iawriterduospace/iawriterduospace-regularitalic-webfont.woff2") format("woff2"),
        url("../fonts/iawriterduospace/iawriterduospace-regularitalic-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "ia_writer_duospaceregular";
    src:
        url("../fonts/iawriterduospace/iawriterduospace-regular-webfont.woff2") format("woff2"),
        url("../fonts/iawriterduospace/iawriterduospace-regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

:root {
    --font-family: "ia_writer_duospaceregular", "ia_writer_duospaceRgIt", "ia_writer_duospacebold", "ia_writer_duospacebolditalic", monospace;
}

@media screen and (max-width: 480px) {
    table:not(.header) {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
        margin: var(--line-height) 0;
        padding: var(--line-height);
        border: var(--border-thickness) solid var(--text-color)
    }
}
.text-sm {
    font-size: calc(var(--font-size) * 0.80);
}

header a {
    text-decoration: none;
}

header a.active {
    font-weight: var(--font-weight-bold)
}

.posts li {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.posts li a {
    text-decoration: none;
}

.posts li a:hover {
    text-decoration: underline;
    text-decoration-thickness: var(--border-thickness);
}

.posts li time {
    font-variant-numeric: tabular-nums;
}

img {
    width: initial;
    max-width: 80%;
    margin: 0 auto;
}

pre {
    margin: var(--line-height) 0;
    padding: var(--line-height);
    border: var(--border-thickness) solid var(--text-color)
}

code {
  font-weight: initial;
  color: #01a0e4 !important;
}

.titlebar {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
}

.titlebar h1 {
    margin-bottom: initial;
}

nav {
    margin-bottom: var(--line-height);
    text-transform: uppercase;
    text-align: left;
    font-weight: var(--font-weight-normal);
    display: flex;
    gap: var(--line-height); /* Adjust the gap between links as needed */
}

nav a {
    margin-top: var(--line-height);
}

.logo {
    line-height: var(--line-height);
    text-align: left;
}
