---
layout: default
---

{% assign posts = site.posts | where_exp: 'post', 'post.tags contains page.tag' %}

<section class="posts">
<h1>#{{page.tag}}</h1>
    <ul>
      {% for post in posts %}
      <li>
        <a href="{{ site.baseurl }}{{ post.url }}">
            <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%m-%d-%Y" }}</time>
            {% if post.featured == true %}
              *
            {% else %}
              &nbsp;
            {% endif %}
          {{ post.title }}
        </a>
      </li>
      {% endfor %}
    </ul>

</section>
